
.body{
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #0acd4e;
  width: 500px;
}

.chat-box {
  justify-content: center;
width: 400px;
height: 600px;
flex-grow: 1;
font-family: RobotoMono;
font-size: 14px;
line-height: 20px;
text-align: left;
color: #adb5bd;
background-color: #e1aa2a;
}
.text-box-overlay {
  height: 320px;
  flex-grow: 1;
  font-family: RobotoMono;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #0056ac;
}
.bottom-overlay {
width: auto;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
margin: 0;
padding: 0;
background-color: #ff050d;
}
.chat-area {
height: 48px;
width: auto;
flex-grow: 1;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 24px;
border-radius: 101px;
background-color: #0acd4e;
}
.send {
width: 17.4px;
height: 15px;
flex-grow: 0;
object-fit: contain;
background-color: #d4b2a8;
}
.response {
  width: 500px;
  height: 500px;
  background-color: aqua;
}